@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(67,1,1);
background: linear-gradient(270deg, rgba(67,1,1,1) 0%, rgba(250,30,16,1) 51%, rgba(250,30,16,0.05955885772277658) 100%);
}

main {
  flex-grow: 1;
}



